{% extends "base.html" %}
{% block title %}
  <!-- Формируется из локации и даты -->
  <title>{{ post.location }}. {{ post.date }}</title>
{% endblock %}   
{% block main %}
  <div class="container py-5">
    <article>
      <ul>
        <li>
          Место: {{ post.location }}
        </li>
        <li>
          Дата: {{ post.date }}
        </li>
        <li>
          Категория: <a href="{% url 'blog:category_posts' post.id %}">{{ post.category }}</a>
        </li>
      </ul>
      <p>
        {{ post.text|linebreaksbr }}
      </p>
    </article>
  </div>
{% endblock %}